version: '3.8'

services:
  certbot:
    image: alpine:latest
    container_name: generate-certs
    command: >
      sh -c "
      apk add --no-cache openssl &&
      mkdir -p /certs &&
      if [ ! -f /certs/key.pem ]; then
        echo 'Generating self-signed certificate...' &&
        openssl req -x509 -nodes -days 365 -newkey rsa:2048 \
          -keyout /certs/key.pem \
          -out /certs/cert.pem \
          -subj '/CN=${PUBLIC_IP}' &&
        echo 'Certificate created ✔'
      else
        echo 'Certificates already exist, skipping ✔'
      fi"
    environment:
      PUBLIC_IP: "100.40.100.80"
    volumes:
      - ./certs:/certs
  app:
    image: mirotalk/p2p:latest
    environment:
      NODE_ENV: production
      HOST: "https://100.40.100.80:443"
      PORT: 443
      TURN_SERVER_URL: "turn:100.40.100.80:3478"
      TURN_SERVER_USERNAME: mirotalk
      TURN_SERVER_CREDENTIAL: "your_secure_turn_password_here"
      # Host protection. Change admin password
      HOST_PROTECTED: "true"       # always wrap booleans in quotes
      HOST_USER_AUTH: "false"      # always wrap booleans in quotes
      HOST_USERS: >
        [{"username": "admin", "password": "secret_password"}] 
    ports:
      - "0.0.0.0:443:443"
    volumes:
      - ./certs:/src/certs:ro
    command: ["sh", "-c", "exec node app/src/server.js --ssl"]
    depends_on:
      - coturn
    restart: unless-stopped

  coturn:
    image: coturn/coturn:latest
    command:
      - -n
      - --log-file=stdout
      - --simple-log
      - --realm=mirotalk
      - --total-quota=100
      - --user-quota=12
      - --max-bps=64000
      - --user=mirotalk:your_secure_turn_password_here
      - --listening-port=3478
      - --tls-listening-port=5349
      - --listening-ip=0.0.0.0
      - --external-ip=100.40.100.80
      - --lt-cred-mech
    ports:
      - "0.0.0.0:3478:3478/udp"
      - "0.0.0.0:3478:3478/tcp"
    restart: unless-stopped
