JITSI_DOMAIN=your_domain.duckdns.org
DOCKER_HOST_ADDRESS=100.100.100.100
LETSENCRYPT_EMAIL=your_email@email.org

# The timezone for the containers.
TZ=UTC

# Docker image tag to use for all Jitsi components.
JITSI_IMAGE_TAG=stable-8960

# --- Security ---
# It's highly recommended to regenerate these secrets for your new setup.
# You can use: openssl rand -hex 16

# Secret for Jicofo to connect to Prosody as a component.
JICOFO_COMPONENT_SECRET=6febc50e1c619248933da3d367b0054a

# Secret for JVB to connect to Prosody as a component.
JVB_COMPONENT_SECRET=6febc50e1c619248933da3d367b0054a

# Password for the internal 'focus' user used by Jicofo.
JICOFO_AUTH_PASSWORD=6febc50e1c619248933da3d367b0054a

# Dummy password for JVB. Required by the container's startup script.
JVB_AUTH_PASSWORD=6febc50e1c619248933da3d367b0054a

# This is the SHARED SECRET between Jitsi and your Coturn server.
TURN_CREDENTIALS_SECRET=6febc50e1c619248933da3d367b0054a
